# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Sanal ortamlar
venv/
venv312/
env/
.venv/

# Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Outputs (büyük olabilir, lokal kalsın)
outputs/

# Logs
*.log